*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100%;
    background-color:rgb(24, 24, 24);
}

.menu-btn{
    color: red;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


.navbar{
    padding: 2px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: rgb(13, 15, 15);
    color: black;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    
}

.navbar .logo h1{
    color: rgb(222, 215, 215);
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-left: -10px;
    font-style: italic;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: rgb(151, 144, 144);
    border-bottom: 1px solid transparent;
    font-size:14px;
    text-decoration: none;
}

.navbar .menu li .active{
    border-bottom: 4px solid rgb(111, 232, 135);
}

.navbar .menu li a i{
    color: rgb(110, 198, 127) ;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid  rgb(84, 234, 114);
}

.content{
    background-image: url(C:\Users\woran\Documents\GitHub\LUXE-Plugin\Images\img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: lightslategrey;
    height: 100vh;
}

